.box{
  border: 1px solid black;
  width: 600px;
}

.item-img{
  width: 590px;
  height: 400px;
}

.main{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.win{
  border: 5px solid green;
}

.tie{
  border: 5px solid grey;
}

.lose{
  border: 5px solid red;
}